.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-container-box{
    margin-bottom: 200px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
}

.login-container > h1{
    font-size: 5vw;
}
.login-container-box > h2{
    font-size: 5vw;
}

.login-container-box > .field-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-container > input{
    margin: 4%;
    padding: 2%;
    width: 80%;
    height: 25px;
}

.login-container-box > .links{
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login-container-box > .links > *{
    margin-top: 2%;
    margin-left: 2%;
}

.login-container-box > button{
    width: 20%;
    height: 6%;
}

@media screen and (max-width: 1920px) {
    .login-container-box { width: 20%;}
    .login-container > h1, .login-container-box > h2 { font-size: 3vw; }
}
@media screen and (max-width: 1200px) {
    .login-container-box { width: 30%;}
    .login-container > h1, .login-container-box > h2{ font-size: 4vw; }
}
@media screen and (max-width: 1000px) {
    .login-container-box { width: 40%;}
    .login-container > h1, .login-container-box > h2{ font-size: 5vw; }
}
@media screen and (max-width: 700px) {
    .login-container-box { width: 50%;}
    .login-container > h1, .login-container-box > h2{ font-size: 6vw; }
}
@media screen and (max-width: 500px) {
    .login-container-box { width: 60%;}
    .login-container > h1, .login-container-box > h2 { font-size: 7vw; }
}